.hero-container {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../public/landing/hero_pic.jpg) center / cover no-repeat;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
    background-color: #2b2b2b;
}

.footer {
    background-color: #474747;
}

.main {
    padding: 0;
    margin: 0;
}