.hero-container {
    background: 
        /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */
        url(../public/landing/hero_pic.jpg) center / cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 120px 20px;
    position: relative;
}

.hero-content {
    color: white;
    max-width: 800px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}